<%- include('partials/head')%>
<%- include('partials/nav')%>
<%if(Array.isArray(mainheader) && mainheader.length == 0){%>
    <div class="coming-soon">
        <h1>There is something wrong with the content please try to visit this page later</h1>
    </div>
<%}else{%>
<div class="container" style="background-image: url('/frontend/images/<%=mainheader.bg_image%>')">
    <div class="mainheader">
        <h1>Information page</h1>
        <h2>About <%=mainheader.header%></h2>
    </div>
    <div class="info-paje-container">
        <main>

            <section class="information-section">
                <div class="info-header">
                    <h1><%=mainheader.header%></h1>
                </div>
                <%if (Array.isArray(beifinfo) && beifinfo.length != 0){%>
                <div class="brief-information">
                <%beifinfo.forEach(function (item) {%>
                    <div>
                        <h2><%=item.title%></h2>
                        <h3><%=item.info%></h3>
                    </div>
                    <%})%>
                </div>
                <%}%>
                <%if (Array.isArray(information) && information.length != 0){%>

                <%information.forEach(function (item) {%>
                    <div class="paragraph">
                        <h3 class="paragraph-header"><%=item.header%><i class="fas fa-sort-amount-down-alt"></i></h3>
                        <p><%=item.info%></p>
                    </div>

                <%})%>

                <%}%>
            </section>
            <%if (Array.isArray(gallery) && gallery.length != 0){%>

            <section class="two">
                <div class="firstgalleryheader">
                    <h1>Gallery</h1>
                </div>
                <div class="gallery">
                    <% console.log(gallery)%>
                    <%gallery.forEach(function (item) {%>
                    <img src="<%=item.gallery_image%>" class="gallery_image ">
                    <%})%>
                </div>
            </section>
                <%}%>
            <section class="three">
                <div class="cardsheader">
                    <h1>Cities and Rural communications</h1>
                </div>
                <div class="cards">
                    <div class="card">
                        <img src="frontend/images/pic03.jpg" class="gallery_image ">
                        <div class="card-name">Ashtarak</div>
                        <div class="buttons">
                            <a href="information/ashtarak"><i class="fab fa-readme"></i>Read More</a>
                            <a href="#"><i class="fas fa-map-marked-alt"></i>See on map</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="frontend/images/Aparan.jpg" class="gallery_image ">
                        <div class="card-name">Aparan</div>
                        <div class="buttons">
                            <a href="information/aparan"><i class="fab fa-readme"></i>Read More</a>
                            <a href="#"><i class="fas fa-map-marked-alt"></i>See on map</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="frontend/images/pic03.jpg" class="gallery_image ">
                        <div class="card-name">Talin</div>
                        <div class="buttons">
                            <a href="information/talin"><i class="fab fa-readme"></i>Read More</a>
                            <a href="#"><i class="fas fa-map-marked-alt"></i>See on map</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="frontend/images/pic03.jpg" class="gallery_image ">
                        <div class="card-name">Rural Communications</div>
                        <div class="buttons">
                            <a href="information/ruralcommunications"><i class="fab fa-readme"></i>Read More</a>
                            <a href="#"><i class="fas fa-map-marked-alt"></i>See on map</a>
                        </div>
                    </div>

                </div>
            </section>
<script src="frontend/javaScript/openParagraph.js"></script>
        </main>
    </div>
</div>
<%}%>
<%- include('partials/footer')%>
