<div class="sidebar">
    <div class="profile_info">
        <% if (admin.is_super === '1'){%>
           <div class="profile_image superadm"></div>
        <%}%>
            <% if(admin.is_super === '0'){%>
                <div class="profile_image adm"></div>
            <%}%>
        <h3><%=admin.name%> <%=admin.surname%></h3>
        <p><%=admin.email%></p>
    </div>
    <%if(menu.length > 0){%>
    <%menu.forEach(function (item,index) { %>
        <a href="/backend/adminpanel/<%=item.href%>" id="<%=item.href%>">
            <i class="<%=item.icon%>"></i><span><%=item.name%></span>
        </a>
    <%})%>
    <%}%>

</div>