<%- include('partials/head') %>
<div class="container">
    <%- include('partials/header') %>
    <%- include('partials/sidebar') %>
    <div class="content">
        <div class="wrapper">
            <div class="title">
                 Add Slider
                <%- include('partials/sessionerrors') %>
            </div>
            <form action="addslide/add" class="form" method="post">
                <div class="inputfield">
                    <label> Name</label>
                    <input type="text" class="input" name="name">
                </div>
                <div class="inputfield">
                    <label>Background Image</label>
                    <%if (filesArr.length > 0){%>
                    <div class="custom_select">
                            <% console.log('aa' , filesArr)%>
                            <select name="bg_image">
                                <%filesArr.forEach(function (item) {%>
                                    <option value="<%=item%>"><%=item%></option>
                                <%})%>
                            </select>
                        </div>
                    <%}else{%>
                        <input type="text" class="input" name="bg_image" >
                    <%}%>
                </div>
                <div class="inputfield">
                    <label>Information</label>
                    <textarea class="input textarea" name="info" ></textarea>
                </div>
                <div class="inputfield">
                    <input type="submit" value="Add Slide" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') %>