<%- include('partials/head') %>
<div class="container">
    <%- include('partials/header') %>
    <%- include('partials/sidebar') %>
    <div class="content">
        <div class="wrapper">
            <div class="title">
                Edit Admin Form
                <%- include('partials/sessionerrors') %>
            </div>
            <form action="edit/<%= editingAdminInfo.id %>" class="form" method="post">
                <div class="inputfield">
                    <label> Name</label>
                    <input type="text" class="input" name="name" value="<%= editingAdminInfo.name %>">
                </div>
                <div class="inputfield">
                    <label>Surname</label>
                    <input type="text" class="input" name="surname" value="<%= editingAdminInfo.surname %>">
                </div>
                <div class="inputfield">
                    <label>Email Address</label>
                    <input type="text" class="input" name="email" value="<%= editingAdminInfo.email %>">
                </div>
                <div class="inputfield">
                    <input type="submit" value="Edit Admin" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') %>