<%- include('partials/head')%>
<div class="container">
    <%- include('partials/header')%>
    <%- include('partials/sidebar')%>
    <div class="wrapper">
        <div class="title">
            Edit Admin Form
            <%if(errors != ''){%>
                <% errors.forEach(function (item) {%>
                    <p class="err"><i class="fas fa-exclamation-circle"></i> <%= item%></p>
                <%})%>
            <%}%>
        </div>
        <form action="edit/<%=editingAdminInfo.id%>" class="form" method="post">
            <div class="inputfield">
                <label> Name</label>
                <input type="text" class="input" name="name" value="<%= editingAdminInfo.name%>">
            </div>
            <div class="inputfield">
                <label>Surname</label>
                <input type="text" class="input" name="surname" value="<%= editingAdminInfo.surname%>">
            </div>
            <% if(admin.is_super === '1'){ %>
                <div class="inputfield">
                    <label>Is Super Admin</label>
                    <div class="custom_select">
                        <select name="is_super" >
                            <option value="0">False</option>
                            <option value="1">True</option>
                        </select>
                    </div>
                </div>
            <% } %>
            <div class="inputfield">
                <label>Email Address</label>
                <input type="text" class="input" name="email" value="<%= editingAdminInfo.email%>">
            </div>
            <div class="inputfield">
                <input type="submit" value="Edit Admin" class="btn">
            </div>
        </form>
    </div>
</div>
<%- include('partials/footer')%>